[flake8]
exclude = 
    .git
    .python-version
    .ibynb_checkpoints/
    .ibynb
    poetry.lock
    pyproject.toml
    .md
    py/
    env/
    .env
    cache
    __pycache__/
per-file-ignores =
    # imported but unused
    __init__.py: F401
max-line-length = 80